<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research papers</title>
    <link rel="stylesheet" href="static/style19.css">
    <script src="https://kit.fontawesome.com/727fe603e3.js" crossorigin="anonymous"></script>
</head>
<body>

<section id="prevention">
        <h2>Pancreatic Cancer Prevention</h2>
        <p>Pancreatic cancer prevention focuses on lifestyle choices, early screening, and managing risk factors. While no prevention method guarantees complete protection, following these steps can significantly reduce your risk:</p>
        
        <ul>
            <li><strong>H. Daher, S. A. Punchayil, A. A. E. Ismail, R. R. Fernandes, J. Jacob, M.
                H. Algazzar, and M. Mansour(2024),
                <a href="https://doi.org/10.7759/cureus.56583"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </strong><br>
                
                 "Advancements in Pancreatic Cancer Detection," NCBI, 2024.</li>
    
        </ul>
    
        <p><strong>Early Detection Saves Lives! 🔍</strong><br>
        Regular health checkups and monitoring symptoms like persistent abdominal pain, jaundice, and unexpected weight loss can help in early detection.</p>
    </section>
    


    </body>
</html>
