<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research papers</title>
    <link rel="stylesheet" href="static/style19.css">
    <script src="https://kit.fontawesome.com/727fe603e3.js" crossorigin="anonymous"></script>
</head>
<body>

<section id="prevention">
        <h2>Pancreatic Cancer Prevention</h2>
        <p>Pancreatic cancer prevention focuses on lifestyle choices, early screening, and managing risk factors. While no prevention method guarantees complete protection, following these steps can significantly reduce your risk:</p>
        
        <ul>
            <li><strong>K. Dmitriev, J. Marino, K. Baker, and A. E. Kaufman(2021),
                <a href="https://doi.org/10.1109/TVCG.2019.2947037"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </strong><br>
                "Visual Analytics of a Computer-Aided Diagnosis System for Pancreatic Lesions,"
                IEEE Transactions on Visualization and Computer Graphics, vol. 29, no. 5,
                pp. 2023–2036, 2021.</li>

                <li><strong>J. Yang, R. Xu, C. Wang, J. Qiu, B. Ren, and L. You(2021),
                    <a href="https://doi.org/10.1002/cac2.12204"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </strong><br>
                     "Early Screening and Diagnosis Strategies of Pancreatic Cancer," MDPI, Journal of
                      Clinical Medicine, vol. 12, no. 5, p. 1457, 2021.</li>
    
        </ul>
    
        <p><strong>Early Detection Saves Lives! 🔍</strong><br>
        Regular health checkups and monitoring symptoms like persistent abdominal pain, jaundice, and unexpected weight loss can help in early detection.</p>
    </section>
    


    </body>
</html>
